.container {
  position: relative;
  display: block;
  background: transparent;
  border: 1px solid #007E60;
  padding: 10px 20px;
  color: #007E60;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s;
  margin-top: 40px;
  letter-spacing: 4px;
  cursor: pointer;

  span {
    display: flex;
    align-items: center;
  }

  &:hover {
    background: #007E60;
    color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 5px #1C4A35,
    0 0 25px #1C4A35,
    0 0 50px #1C4A35,
    0 0 100px #1C4A35;

    &_primary {
      color: #03e9f4;
      border-color: #39c4d5;
      box-shadow: 0 0 5px #39c4d5,
      0 0 25px #39c4d5,
      0 0 50px #39c4d5,
      0 0 100px #39c4d5;
    }

    &_secondary {
      color: #607d8b;
      border-color: #607d8b;
      box-shadow: 0 0 5px #607d8b,
      0 0 25px #607d8b,
      0 0 50px #607d8b,
      0 0 100px #607d8b;
    }
  }

}

.large {
  padding: 15px 25px;
  font-size: 20px;
}

.small {
  padding: 7px 10px;
  font-size: 14px;
}
