header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: rgba(0,126,96,0.1);
}
.nav div {
  display: flex;
}
.nav a {
    margin-right: 10px;
    color: #222222;
    text-decoration: none!important;
    font-size: 18px;
    font-weight: 500;
}
.nav a:hover {
  color: #007E60;
}
header img {
  max-width: 150px;
}